<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<link href="css/default.css" rel="stylesheet" type="text/css">
	
	<!-- GOOGLE MAPS Initialization and functions
	-->
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyBuO1airBjACG1H-kw53FisemvT6uxUGj0&sensor=false">
    </script>
    <script type="text/javascript">
	  var map;
      var chicago = new google.maps.LatLng(41.850033, -87.6500523);
      var pieceDisplayed = true;

	
	var mediumToColor = {
		oil: ["blue", "#0198E1"],
		pastel: ["green", "#4DBD33"],
		tempera: ["orange", "#FF8000"],
		gesso: ["pink", "#F6CCDA"],
		mastie: ["purple", "#CD00CD"],
		oilOnPaint: ["red", "#FF0000"],
		portrait: ["yellow", "#FCD116"]
	};

	var centerLocation = new google.maps.LatLng(30, 355);
	
      function initialize() {
        var mapDiv = document.getElementById('map_canvas');
        var mapOptions = {
          zoom: 3,
          center: centerLocation,
          mapTypeId: google.maps.MapTypeId.TERRAIN, 
		  minZoom: 2,
		  maxZoom: 8
        }
        map = new google.maps.Map(mapDiv, mapOptions);

		
		colorizeMediums();

		welcomeHTML = "<br/><h3>Welcome to the Art History Application</h3><br/>";
		welcomeHTML += "<img id='mona_lisa' src='mona_lisa.jpg' alt='mona lisa' /><br/>"
		welcomeHTML += "<p>Choose the year range and mediums of the pieces you want to see using the tools at the bottom of the screen.  Click update to update the markers on the map according to your preferences";
		document.getElementById("piece_html").innerHTML = welcomeHTML;
		$( "#piece_div" ).css('visibility', 'visible');
		runEffect("slide");

      }
	  
	  function colorizeMediums(){
		var mediumEls = document.getElementById("medium-checks").getElementsByTagName('span');
		for(var i = 0; i < mediumEls.length; i++){
			if(!mediumEls[i].getAttribute('id')){}
			else if(mediumEls[i].getAttribute('id') != "clickCheck"){
				var pattern = /([a-zA-Z]+)Span/i;
				var mediumArr = pattern.exec(mediumEls[i].getAttribute('id'));
				var medium = mediumArr[1] + "";
				if(mediumToColor[medium]){
					//alert(mediumToColor[medium][1]);
					$("#" + mediumEls[i].getAttribute('id')).css('background-color', mediumToColor[medium][1]);
				}
			}
		}
	  }
    </script>
	
	
	<!--
		JQUERY and relevent methods
	-->
	<link rel="stylesheet" href="js/jquery-ui/development-bundle/themes/base/jquery.ui.all.css">
	<script src="js/jquery-ui/development-bundle/jquery-1.8.3.js"></script>
	<script src="js/jquery-ui/development-bundle/ui/jquery.ui.core.js"></script>
	<script src="js/jquery-ui/development-bundle/ui/jquery.ui.widget.js"></script>
	<script src="js/jquery-ui/development-bundle/ui/jquery.ui.mouse.js"></script>
	<script src="js/jquery-ui/development-bundle/ui/jquery.ui.slider.js"></script>
	<link rel="stylesheet" href="js/jquery-ui/development-bundle/demos/demos.css">
	<script src="js/jquery-ui/development-bundle/ui/jquery.ui.effect.js"></script>
	<script src="js/jquery-ui/development-bundle/ui/jquery.ui.effect-drop.js"></script>
	<script src="js/jquery-ui/development-bundle/ui/jquery.ui.effect-explode.js"></script>
	<script src="js/jquery-ui/development-bundle/ui/jquery.ui.effect-slide.js"></script>
	
	<script>
	var startYear = 1650;
	var endYear = 1800;
	
	var markers = [];
	var circles = [];
	
	function createMarker(latlng, id, medium, indexInMarkers){
		var marker = new google.maps.Marker({
			map: map,
			icon: mediumToColor[medium][0] + "_waypoint.png",
			title: "test marker",
			position: latlng,
			animation: google.maps.Animation.DROP
		 });
					 
					 
		google.maps.event.addListener(marker, 'click', function() {			 
			map.setZoom(5);
			map.setCenter(marker.getPosition());
			update_piece(id);
		 });
					 		 
		return marker;
	}
	
	function update_piece(id) {
		$.getJSON("/paintings/" + id + ".json", function(json){
			if(json['success']){
				document.getElementById("piece_html").innerHTML = "<a href='" + json['image'] + "' target='_blank'><img src='" + json['image'] + "' alt='mona lisa' /></a>";
				$( "#piece_div" ).css('visibility', 'visible');
				runEffect("slide");
				pieceDisplayed = true;
			}
		});
	}
	
	function getYearRangeArr(){
		var el = document.getElementById('years');
		
		var pattern = /^([0-9]{1,4})(AD|BC)?\s?-\s?([0-9]{1,4})(AD|BC)?$/i;
		var resultArr = pattern.exec(el.value);
		
		if(resultArr){
			var lowerYear = parseInt(resultArr[1]);
			var higherYear = parseInt(resultArr[3]);
			
			if ((lowerYear > higherYear  && resultArr[2] == "AD" && resultArr[4] == "AD") ||
				(lowerYear < higherYear && resultArr[2] == "BC" && resultArr[4] == "BC")||
				(resultArr[2] == "AD" && resultArr[4] == "BC")){
				document.getElementById('inputYearError').innerHTML = "Minimum year (" + lowerYear + resultArr[2] + ") is higher then max year (" + higherYear + resultArr[4] + ")"
				return false;
			} else if(higherYear > new Date().getFullYear()){
				document.getElementById('inputYearError').innerHTML = "Only years up to the current one (" + new Date().getFullYear() + ") are allowed.";
				return false;
			} else{
				
				if(resultArr[2] == "BC"){
					lowerYear = lowerYear * -1;
				}
				if(resultArr[4] == "BC"){
					higherYear = higherYear * -1;
				}
				$( "#slider-range" ).slider('values', 0, lowerYear);
				$( "#slider-range" ).slider('values', 1, higherYear);
				startYear = lowerYear;
				endYear = higherYear;
				document.getElementById('inputYearError').innerHTML = "";
				return [lowerYear, higherYear];
			}
		}

		document.getElementById('inputYearError').innerHTML = "Please format the year range in the form \"(year)AD/BC - (year)AD/BC\".";
		return false;
	}
	
	function update_points() {
		yearRangeArr = getYearRangeArr();
		if(!yearRangeArr){
			//yearRangeArr = [startYear, endYear];
			return;
		}
		
		for(var i=0; i< markers.length; i++){
			markers[i].setMap(null);
		}
		for(var i = 0; i < circles.length; i++){
				circles[i].setMap(null);
		}
		markers = [];
		circles = [];
		
		/**Get mediums that are checked **/
		mediumsArr = [];
		checkBoxes = document.getElementById("medium-checks").getElementsByTagName('input');
		for (var i=0; i<checkBoxes.length; i++) {
			if(checkBoxes[i].checked){
				mediumsArr.push(checkBoxes[i].id);
			}
		}
		if(mediumsArr.length == 0){
			mediumsArr.push("None");
		}
		
		/**Makes call to server with year range and mediums that are checked **/
		$.getJSON("/pointUpdate",  {yearRange: yearRangeArr, mediums: mediumsArr}, function(json){
			if(json['success']){
				markers = [];
				var numPieces = json['pieces'].length;
				for(var i=0; i<numPieces; i++){
					setTimeout(function() {
						var piece = json['pieces'].pop();
						markers[markers.length]	= createMarker(new google.maps.LatLng(piece['lat'],piece['lng']), piece['id'], piece['medium'], i);
						if(markers.length == numPieces){
							determineCirclesMap();
						}
						}, i * 180);
				}
				closeDisplay();
				map.setZoom(3);
				map.setCenter(centerLocation);
			} else{
				alert("something went wrong / no paintings returned");
			}
		});
		
	}

	function determineCirclesMap(){
		var markers2d = [];
		var numCloseCircles = 1;
		/*I believe this is 500 km*/
		var closeDistance = 500000;
		var foundNeighbor;
		var marker;

		// alert("checked " + markers.length);

		for(var i =0; i < markers.length;i++){
			marker = markers[i];
			foundNeighbor = false;
			for(var j =0; j < markers2d.length;j++){
				for(var k = 0; k < markers2d[j].length;k++){
					if(distance(marker, markers2d[j][k]) <= closeDistance && marker.getIcon() == markers2d[j][k].getIcon()){
						markers2d[j].push(marker);
						foundNeighbor = true;
						break;
						break;
					}
				}
			}
			if(!foundNeighbor){
				markers2d.push([marker]);
			}

	    }
	    for(var j = 0; j < markers2d.length;j++){
	    	if(markers2d[j].length >= numCloseCircles){
	    		determineCirclesReduce(markers2d[j]);
	    	}
	    }

	}

	function distance(mark1, mark2){
		return google.maps.geometry.spherical.computeDistanceBetween(mark1.getPosition(), mark2.getPosition());
	}

	function determineCirclesReduce(markerArr){
		var mark = markerArr[0];

		var pattern = /^([a-zA-Z]+)\_waypoint\.png$/i;
		var colorName = pattern.exec(mark.getIcon());
		for (var key in mediumToColor) {
		 	if(mediumToColor[key][0] == colorName[1]){
		 		var color = mediumToColor[key][1];
		 	}
		}

		var xArr = [];
		var yArr = [];
		var zArr = [];

		for(var i = 0; i < markerArr.length; i++){
			var point = markerArr[i].getPosition();
			var latRad = point.lat() * (Math.PI / 180);
			var lngRad = point.lng() * (Math.PI / 180);

			xArr.push(Math.cos(latRad) * Math.cos(lngRad));
			yArr.push(Math.cos(latRad) * Math.sin(lngRad));
			zArr.push(Math.sin(latRad));
		}

		
		var X = 0;
		var Y = 0;
		var Z = 0;

		for(var i = 0; i < xArr.length; i++){
			X += xArr[i];
		}
		for(var i = 0; i < yArr.length; i++){
			Y += yArr[i];
		}
		for(var i = 0; i < zArr.length; i++){
			Z += zArr[i];
		}

		var lng = Math.atan2(Y, X);
		var hyp = Math.sqrt(X * X + Y * Y);
		var lat = Math.atan2(Z, hyp);


		lat = lat * (180/Math.PI);
		lng = lng * (180/Math.PI);
		var geographicMidpoint = new google.maps.LatLng(lat, lng);

		var radius = 0;
		for(var i = 0; i < markerArr.length; i++){
			var distance =	google.maps.geometry.spherical.computeDistanceBetween(geographicMidpoint, markerArr[i].getPosition());
			if(distance > radius){
				radius = distance;
			}
		}
		radius += 100000;

		 var circleOptions = {
            strokeColor: color,
            strokeOpacity: 0.2,
            strokeWeight: 2,
            fillColor: color,
            fillOpacity: 0.15,
            map: map,
            center: geographicMidpoint,
            radius: radius
          };


          circles.push(new google.maps.Circle(circleOptions));
	}
	
	function checkThis(boxName) {
		boxEl = document.getElementById(boxName)
		
		if(boxEl.checked){
			boxEl.checked = false;
		} else{
			boxEl.checked = true;

		}
	}
	
	$(function() {
		$( "#slider-range" ).slider({
			range: true,
			min: -300,
			max: new Date().getFullYear(),
			values: [ startYear, endYear ],
			slide: function( event, ui ) {
				sliderEventFunction();
			}
		});
		$( "#years" ).val( $( "#slider-range" ).slider( "values", 0 ) +
			"AD - " + $( "#slider-range" ).slider( "values", 1 ) + "AD" );
	});
	
	function sliderEventFunction(){
		var values = $( "#slider-range" ).slider("option", "values");
		var strOut = "";
		if(values[ 0 ] < 0){
			strOut = values[ 0 ] * -1 + "BC - ";
		} else{
			strOut = values[ 0 ] + "AD - ";
		}
		if(values [ 1 ] < 0){
			strOut += values[ 1 ] * -1 + "BC";
		} else {
			strOut += values[ 1 ] + "AD";
		}

		$( "#years" ).val(strOut);
		startYear = values[0];
		endYear = values[1];

	}
	
	function runEffect(selectedEffect) {

			// most effect types need no options passed by default
			var options = {};
			// some effects have required parameters
			if ( selectedEffect === "scale" ) {
				options = { percent: 0 };
			} else if ( selectedEffect === "transfer" ) {
				options = { to: "#button", className: "ui-effects-transfer" };
			} else if ( selectedEffect === "size" ) {
				options = { to: { width: 200, height: 60 } };
			}

			// run the effect
			$( "#piece_div" ).effect( selectedEffect, options, 500);
	};
	
	// callback function to bring a hidden box back
	function callback() {
		setTimeout(function() {
			$( "#piece_div" ).removeAttr( "style" ).hide().fadeIn();
		}, 2000 );
	};
	
	function closeDisplay(){
		if(pieceDisplayed){
			runEffect("drop");
			pieceDisplayed = false;
		} 
	}

	function checkForEnter(e) {
	    if (e.keyCode == 13) {
	       update_points();
	    }
	}
	

	</script>
  </head>
  <body onload="initialize()">
    <div id="map_canvas" style="width:100%; height:100%"></div>
	
	<div id="input_div">
		<p>
		<label for="years">Year Range:</label>
		<input type="text" id="years" style="border:0; font-weight:bold;" onkeyup="checkForEnter(event)" />
		<span id="inputYearError" style="color: red; font-size:120%"></span>
		<button onclick="update_points();" style="border:1px solid black; float: right; cursor:pointer;"> Update</button>
		</p>

		<div id="slider-range"></div><br/>
		
		<img id='timeline' src='timeline.png' alt='Timeline Image' /><br/>
		<div id="medium-checks">
			<span id="oilSpan" class="medSp"><input type="checkbox" class='medChk' id="oilOnPanel"><span class="clickCheck" onclick="checkThis('oilOnPanel')" > Oil on Panel</span></span>
			<span id="pastelSpan" class="medSp"><input type="checkbox" class="medChk" id="pastel"><span class="clickCheck" onclick="checkThis('pastel')"> Pastel</span></span>
			<span id="temperaSpan" class="medSp"><input type="checkbox" class="medChk" id="tempera"><span class="clickCheck" onclick="checkThis('tempera')"> Tempera</span></span>
			<span id="gessoSpan" class="medSp"><input type="checkbox" class="medChk" id="gesso"><span class="clickCheck" onclick="checkThis('gesso')"> Gesso</span></span>
			<span id="mastieSpan" class="medSp"><input type="checkbox" class="medChk" id="mastie" ><span class="clickCheck" onclick="checkThis('mastie')"> Mastie</span></span>
			<span id="oilOnPaintSpan" class="medSp"><input type="checkbox" class="medChk" id="oilPaint"><span class="clickCheck" onclick="checkThis('oilPaint')"> Oil Paint</span></span>
			<span id="portraitSpan" class="medSp"><input type="checkbox" class="medChk" id="portrait"><span class="clickCheck" onclick="checkThis('portrait')"> Portrait</span></span>
		</div>
	</div>
	
	<div id="piece_div" class="ui-widget-content ui-corner-all" >
	<img id="display_close_button" src="close.png" alt="Close display" onclick="closeDisplay()" height="11" width="11"/>
	<div id="piece_html"></div></div>
	
  </body>
</html>