<html>
	<body>
		<h1> Paintings </h1>
		{% for painting in paintings %}
		<div itemscope itemtype="http://schema.org/Painting" style="font-size:110%;">
		{% if 'title' in painting %}
			<h3 itemprop="name">{{painting['title']}}</h3>
		{% end %}
		{% if 'uri' in painting %}
			<div> URI: <a href={{painting['uri']}} itemprop="url">{{painting['uri']}}</a></div>
		{% end %}
		{% if 'image' in painting %}
			<div> Image URL: <a href={{painting['image']}} itemprop="image">{{painting['image']}}</a></div>
		{% end %}
		{% if 'artist' in painting %}
		<div> Artist: <span itemprop="author">{{painting['artist']}}</span> </div>
		{% end %}
		{% if 'year_created' in painting %}
		<div> Date Created: <span itemprop="dateCreated">{{painting['year_created']}}</span></div>
		{% end %}
		{% if 'medium' in painting %}
		<div>Medium: <span itemprop="medium">{{painting['medium']}}</span> </div>
		{% end %}
		<div itemprop="contentLocation" itemscope itemtype="http://schema.org/Place">
			{% if 'where' in painting %}
			<div>Location: <span itemprop="name">{{painting['where']}}</span></div>
			{% end %}
			<div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
				{% if 'lat' in painting %}
				<div>Latitude: {{painting['lat']}}</div>
				{% end %}
				{% if 'lng' in painting %}
				<div>Longitude: {{painting['lng']}}</div>
				{% end %}
				<meta itemprop="latitude" content={{painting['lat']}} />
    			<meta itemprop="longitude" content={{painting['lng']}} />
			</div>
		</div>
		{% if 'description' in painting %}
		<div>Description: <span itemprop= "description">{{painting['description']}}</description></div>
		{% end %}
		</div>
		{% end %}
	</body>
</html>